@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-2">
    <a asp-area="Admin" asp-controller="Projects" asp-action="create" class="btn btn-outline-info">Add New Project</a>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card mt-2 col-sm-6 col-md-4 col-lg-4">
            <div class="card-header">
                <div class="float-left">
                    <h3 class="card-title"><a asp-action="Details" asp-route-id="@item.ID" class="text-capitalize">@item.Name</a></h3>
                </div>
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Projects" asp-action="Edit" asp-route-id="@item.ID" class="fas fa-edit text-primary"></a>
                    <a asp-area="Admin" asp-controller="Projects" asp-action="Details" asp-route-id="@item.ID" class="fas fa-info text-info"></a>
                    <a asp-area="Admin" asp-controller="Projects" asp-action="Delete" asp-route-id="@item.ID" class="fas fa-trash text-danger"></a>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="card-body">
                <h2>@item.Category</h2>
            </div>

        </div>

    }
</div>