@model Vivid.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Vivid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero" id="myhero" data-color-sec="dark">
    <div class="hero__slider owl-carousel">
        @for (int i = 0; i < Model.Sliders.Count; i++)
        {
            if (i == 0)
            {
                <div class="hero__items set-bg">
                    <!--data-setbg="img/hero/hero-1.jpg"  -->
                    <video class="poster__video"
                           src="https://yodezeen.com/wp-content/uploads/2020/04/video_zp-c.mp4"
                           autoplay="" loop="" muted="" playsinline="">
                    </video>
                    <div class="hero__text">
                        <h2>
                            @Model.Sliders[i].Title

                            @*<button class="watch-video card__watch-video">
                                    <a href="https://yodezeen.com/wp-content/uploads/2020/04/video_zp-c.mp4">
                                        <span class="watch-video__text">
                                            Watch full video
                                        </span>
                                    </a>

                                    <a href="https://yodezeen.com/wp-content/uploads/2020/04/video_zp-c.mp4">
                                        <i class="fa fa-play-circle-o"></i>
                                    </a>
                                </button>*@
                        </h2>

                        <a asp-controller="Projects" asp-action="index" class="primary-btn">See Project</a>
                        <a asp-controller="About" asp-action="index" class="more_btn" data-aos="zoom-in">Discover more</a>
                        <div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="hero__items set-bg" data-setbg="/img/hero/hero-1.jpg">
                    <div class="hero__text">
                        <h2>@Model.Sliders[i].Title</h2>
                        <a asp-controller="projects" asp-action="index" class="primary-btn">See Project</a>
                        <a asp-controller="about" asp-action="index" class="more_btn" data-aos="zoom-in">Discover more</a>
                        <div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="slide-num" id="snh-1"></div>
    <div class="slider__progress"><span></span></div>
</section>
<!-- Hero Section End -->
<!-- About Section Begin -->
<section class="about spad" id="about-sec" data-color-sec="white">
    <div class="backgrnd_word">
        <span class="line" data-aos="fade-up" data-aos-delay="200"> ABOUT</span>
    </div>
    @for (int i = 0; i < Model.Profiles.Count; i++)
    {
        if (i == 0)
        {
            <div class="container">
                <div class="row">
                    <div class="section-title forabout">
                        <!-- <span data-aos="fade-right">who are we</span> -->
                        <h2 data-aos="fade-up" data-aos-duration=".5s" data-aos-delay="400">
                            We design every project as a one-off
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__text">
                            <div class="about__para__text" data-aos="fade-right" data-aos-duration="1s" data-aos-delay="600">
                                <p>
                                    @Model.Profiles[i].Mission
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__text">
                            <div class="about__para__text" data-aos="fade-up" data-aos-duration="1.5s" data-aos-delay="600">
                                <p>
                                    @Model.Profiles[i].Vission
                                </p>
                            </div>

                        </div>
                    </div>
                    <a asp-controller="about" asp-action="index" class="primary-btn normal-btn" data-aos="flip-left">Learn More</a>
                </div>
            </div>
        }

    }
</section>
<!-- About Section End -->


<!-- Project Section Begin -->
<section class="project" id="project-sec" data-color-sec="dark">
    <!-- <div class="container"> -->
    <div class="row">
        <!-- <div class="project__slider owl-carousel"> -->
        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            if (i == 0)
            {
                <div class="col-lg-4 project__item">
                    <div class="project__slider__item set-bg" data-setbg="/img/project/1.jpg">
                        <div class="project__slider__item__hover">
                            <h5>@Model.Categories[i].Name</h5>
                            @*<span>INTERIOR DESIGN</span>*@
                        </div>
                    </div>
                </div>
            }
            if (i == 1)
            {
                <div class="col-lg-4 project__item">
                    <div class="project__slider__item set-bg" data-setbg="/img/project/2.jpg">
                        <div class="project__slider__item__hover">
                            <h5>@Model.Categories[i].Name</h5>
                            @*<span>INTERIOR DESIGN</span>*@
                        </div>
                    </div>
                </div>
            }
            if (i == 2)
            {
                <div class="col-lg-4 project__item">
                    <div class="project__slider__item set-bg" data-setbg="/img/project/3.jpg">
                        <div class="project__slider__item__hover">
                            <h5>@Model.Categories[i].Name</h5>
                            @*<span>INTERIOR DESIGN</span>*@
                        </div>
                    </div>
                </div>
            }
        }

        <!-- </div> -->
    </div>
    <!-- </div> -->
</section>
<!-- Project Section End -->
<!-- Career Wana work with us-->
<section class="career" id="career-sec" data-color-sec="white">
    <div class="backgrnd_word">
        <span class="line" data-aos="fade-up">CAREER</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="section-title-career">
                    <h2 data-aos="fade-up" data-aos-duration=".5s" data-aos-delay="200">
                        Wanna work with us?
                    </h2>
                </div>
                <div class="career__text">
                    <div class="career__para__text" data-aos="fade-up" data-aos-duration="1.5s" data-aos-delay="600">
                        <p>
                            Vivda is an award-winning, interdisciplinary architectural studio with cultural,
                            residential and commercial projects built worldwide. We pride ourselves on being builders
                            — creating architectural and
                            creative solutions to help people realize their vision and make them a reality.
                        </p>
                    </div>
                </div>

                

                <div class="career__list">
                    @for (int i = 0; i < Model.Careers.Count; i++)
                    {
                        <div class="career__columns-sec">
                            <div class="mycard career__card">
                                <div class="card__head">
                                    <h4 class="card__vacancy"> @Model.Careers[i].Title</h4>
                                    <div class="card__address">@Model.Careers[i].Location</div>
                                </div>
                            </div>
                        </div>
                    }


                </div>

                <a asp-controller="Careers" asp-action="index" class="primary-btn normal-btn" data-aos="flip-left">LET'S TALK</a>
            </div>
        </div>
    </div>
</section>
<!--Wana work with us End-->
