@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Sliders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <a asp-area="Admin" asp-controller="Slider" asp-action="Create" class="btn btn-outline-info">Add New Slider</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr class="d-flex">

                    <th class="col-3">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    
                    <th class="col-6">
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="d-flex">
                        <td class="col-3">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        
                        <td class="col-6">
                            <img src="~/images/slider/@item.Photo" class="rounded img-thumbnail" width="300" height="300" />
                        </td>
                        <td class="col-2">
                            <a asp-area="Admin" asp-controller="Slider" asp-action="Edit" asp-route-id="@item.ID" class=" m-1 text-primary fas fa-edit"></a>
                            <a asp-area="Admin" asp-controller="Slider" asp-action="Details" asp-route-id="@item.ID" class=" m-1 text-info fas fa-info"></a>
                            <a asp-area="Admin" asp-controller="Slider" asp-action="Delete" asp-route-id="@item.ID" class=" m-1 text-danger fas fa-trash"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>